html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Poppins';
}

div {
  display: flex;
}

main {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-weight: 500;
  width: 100%;
  padding-left: 100px;
  box-shadow: 0px 3px 10px #00000005;
  height: 82px;
  img {
    width: 44px;
    border-radius: 8px;
    height: 44px;
    object-fit: cover;
  }
}

.swiper {
  width: 76% !important;
}