html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  min-width: 320px;
  margin: 0;
  font-family: 'Poppins';
  background: #f8f8f8; }

div {
  display: flex;
}

main {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins';
  font-weight: 500;
  width: 100%;
  box-shadow: 0px 3px 10px #00000005;
  height: 82px;
  background: #ffffff;
  img {
    width: 44px;
    border-radius: 8px;
    height: 44px;
    object-fit: cover;
  }
}

.swiper {
  width: 76% !important;
}

.swiper-slide {
  width: 353px !important;
}

.room-container {
  display: flex;
  align-items: center;
  div {
    display: block;
    padding-left: 30px;
  }
  p:first-of-type {
    padding-bottom: 8px;
    color: #799283;
    font-weight: 400;
  }
  p:last-of-type {
    font-size: 16px !important;
    font-weight: 600;
    color: #393939;
  }
}

.room-amenities {
  width: 124px;
}

.employee-container {
  padding-bottom: 15px;
  div {
    flex-direction: column;
    padding-left: 10px;
    p:first-of-type{
      font-size: 16px !important;
      font-weight: 500 !important;
    }
    p:last-of-type {
      font-size: 14px !important;
      font-weight: 400 !important;
      color: #393939;
    }
    p:nth-child(2){
      font-size: 14px !important;
      font-weight: 400 !important;
      color: #393939;
    }
  }
}

.contact-container {
  section:first-of-type {
    height: 26em;
  }
}

.customer-container-date {
    flex-direction: column;
    font-weight: 600;
}

.customer-container-date p {
  margin-bottom: 10px !important;
}

.customer-container-data {
  flex-direction: column;
  font-weight: 400;
}

.customer-container-data p {
margin-bottom: 10px;
}

.customer-container-data p:first-of-type {
  font-weight: bold;
  }

a{
  text-decoration: none;
  color: #799283;
}



 /* button styles */

.greenButton {
  background-color: rgb(205, 248, 216);
  color: rgb(90, 208, 122);
  font-weight: bold;
  border-radius: 18px;
  border: none;
  padding : 10px;
  font-family: 'Poppins';
}
.redButton {
  color: rgb(226, 52, 40);
  background-color: rgb(244, 190, 187);
  font-weight: bold;
  border-radius: 18px;
  border: none;
  padding : 10px;
  font-family: 'Poppins';
}
.orangeButton {
  color: rgb(255, 168, 0);
  background-color: rgb(246, 219, 160);
  font-weight: bold;
  border-radius: 18px;
  border: none;
  padding : 10px;
  font-family: 'Poppins';
}

.modalButton{
  cursor: pointer;
}

.inputDate {
  border: none;
  background: none;
}

.checkinlabel {
  background-color: rgb(90, 208, 122);}
.checkoutlabel {
  background-color: rgb(244, 122, 108); }
.inprogresslabel {
  background-color: rgb(246, 219, 160); }

.hola {
  display: flex;
  justify-content: center;
  gap: 36px;}